@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-blue {
    @apply bg-softBlue text-white border-2 border-softBlue;
  }
  .btn-gray {
    @apply bg-gray-400 text-white border-2 border-grayishBlue;
  }
  .blue-cylinder-right-rounded {
    @apply h-60 w-[800px] bg-softBlue rounded-l-full;
  }
  .blue-cylinder-left-rounded {
    @apply h-60 w-[800px] bg-softBlue rounded-r-full;
  }
  .orange-active-line.active {
    @apply h-1 bg-softRed;
  }
  .white-line {
    @apply h-[1px] bg-white opacity-30 w-full;
  }
  .gray-line {
    @apply h-[1px] bg-grayishBlue opacity-60 w-full;
  }
  .dot-line {
    @apply border-b-4 border-dotted border-grayishBlue opacity-30;
  }
  .hoverText {
    @apply hover:text-softRed;
  }
}

@media (max-width: 768px) {
  .all-line-in-one {
    visibility: hidden;
  }
}

@layer base {
  h1 {
    @apply text-4xl font-semibold tracking-wide;
  }
  h2 {
    @apply text-3xl font-semibold tracking-wide;
  }
  h3 {
    @apply text-xl font-bold tracking-wide;
  }
  p {
    @apply max-w-lg text-base text-grayishBlue text-left mx-auto;
  }
}

#hamburger {
  cursor: pointer;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  height: 3px;
  width: 30px;
  background-color: black;
  margin-top: 4px;
}

@media (max-width: 1020px) {
  #hero-desktop-view {
    display: none;
  }
}

@media (max-width: 770px) {
  .hide-nav-content {
    display: none;
  }
  .hamburger-show {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #hamburger {
    display: flex;
    justify-content: space-between;
  }
}

.open {
  transform: rotate(90deg);
  display: inline-block;
  transition: all 0.3s;
  z-index: 30;
}

.open .hamburger-top {
  transform: rotate(-40deg) translateY(4px) translateX(-2px);
  background-color: #fff;
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(40deg) translateY(-2px) translateX(-1px);
  background-color: #fff;
}

.arrow-up {
  transform: rotate(180deg);
  transition: transform 0.4s linear;
}
