@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
  background-image: url("../images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 700px) {
  #hero {
    background-image: url("../images/mobile/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* ----- hamburger ----- */
.hamburger {
  width: 50px;
  height: 2px;
  background-color: #fff;
  transition: all 0.5s;
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(40deg) translateY(20px) translateX(20px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-40deg) translateY(10px) translateX(-5px);
}
